body{
  font-family: Garamond;
}

header {
  background-color: #fff;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding: 0 20px; 
}

.logo {
  font-size: 40px;
  font-weight: bold;
}
nav {
  display: flex;
  justify-content: space-between;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

li {
  margin-right: 30px;
  font-size: 24px;


}

li:first-child {
  margin-right: 20px;
}

a {
  color: #333333;
  text-decoration: none;
  opacity: 0.8;
  transition: opacity 0.3s ease;
}

a:hover {
  opacity: 1;
}

nav ul::after {
  content: "";
  display: block;
  border-bottom: 2px solid #f5f5f5;
  margin-top: 5px;
  margin-left: 70vh;
}
.icons {
  display: flex;
}

.icons img {
  height: 20px;
  margin-left: 20px;
  width: 20px;
}

.container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}


  .logo {
    margin-bottom: 10px;
  }

  .icons {
    margin-top: 10px;
    justify-content: center;
  }

  .icons img {
    margin: 0 10px;
  }
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  max-width: 1200px;
  margin: 0 auto;
}

.text {
  flex: 1;
  padding: 20px;
}

.first-main-content {
  font-size: 32px;
  margin-bottom: 50px;
}

p {
  font-size: 20px;
  margin-bottom: 20px;
}

button{
  width: 100px;
  height: 50px;
}

.gray-button {
  background-color:#ffff;
  border: 2px solid #f5f5f5;
  padding: 10px 20px;
  border-radius: 5px;
  transition: all 0.3s ease;
  font-size: 15px;
}

.gray-button:hover {
  background-color: #ffffff;
  color: #f5f5f5;
  cursor: pointer;
}

.first-main-content{
  font-size: 4em;
}

.block {
  border-top: 2px solid #ccc;
  border-bottom: 2px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.block img {
  width: 500px;
  height: 500px;

}

.block .text {
  max-width: 50%;
}

.block h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.block p {
  font-size: 18px;
}

.block h2{
  font-size: 40px;
  margin-bottom: 50px;
}

.third {
  border-bottom: 1px solid #000;
  overflow: hidden;
}

.photo {
  float: right;
  width: 500px;
  height: 500px;;
}
.gallery-container {
  display: flex;
  justify-content: center;
}
.gallery-wrapper h2{
  text-align: center;
  font-size: 35px;
}
.gallery-item {
  margin: 0;
  padding: 0;
}

.gallery-item img {
  max-width: 100%;
  height: auto;
  transition: all 0.3s ease;
}

.gallery-item:hover img {
  transform: scale(1.1);
}

.service-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
  position: relative;
  padding: 10px;
}
.line-center {
  border-left: 1px solid #000;
}

.service-grid-item {
  background-color: #fff;
  padding: 20px;
  text-align: center;
  position: relative;
}

.service-grid-item h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}

.service-grid-divider {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  border-top: 1px solid #ddd;
  z-index: -1;
}

.top .service-grid-divider {
  display: none;
}

.bottom .service-grid-divider {
  border-top: none;
  border-bottom: 1px solid #ddd;
}

.top.left {
  border: none;
}

.top.center {
  border-top: none;
  border-left: none;
  border-right: none;
}

.top.right {
  border: none;
}

.bottom.left {
  border: none;
}

.bottom.center {

  border-left: none;
  border-right: none;
}

.bottom.right {
  border: none;
}
footer {
  padding: 20px;
  text-align: center;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
}

.send{
  margin-left: 745px;
}

.form-group {
  display: inline;
  margin: 10px;
  text-align: left;
  width: 100%;
}

.form-group label {
  font-weight: bold;
}

.form-group input,
.form-group textarea,
.select-group select {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  margin-top: 5px;
  width: 100%;
  font-size: 16px;
}

.select-group label {
  margin-right: 10px;
}

.checkbox-group {
  display: flex;
  align-items: center;
  margin: 10px;
  text-align: left;
  width: 100%;
}

.checkbox-group p {
  font-weight: bold;
  margin-right: 10px;
}

.checkbox {
  display: flex;
  align-items: center;
  margin-right: 10px;
}
.select-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.checkbox label {
  margin-left: 5px;
}

.checkbox input[type="checkbox"] {
  margin-right: 5px;
}

.form-group textarea {
  height: 200px;
}

.checkbox-group:last-of-type {
  margin-top: 20px;
}

.checkbox-group:last-of-type .checkbox {
  margin-right: 20px;
}
.social-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  border-top: 2px solid #ccc;
}

.social-icons {
  display: flex;
  justify-content: center;

}

.social-icons a {
  margin: 0 10px;
}

.social-icons img {
  width: 35px;
  height: 35px;
}

.social-block p {
  margin-top: 20px;
  font-size: 18px;
  text-align: center;
}

@media (max-width: 600px) {

  .logo {
    font-size: 1.5rem;
    margin-left: 0.5rem;
  }
  nav {
    margin-right: 0.5rem;
  }

  .icons {
    display: none;
  }
  .burger {
    display: block;
    margin-right: 0.5rem;
    font-size: 1.5rem;
    cursor: pointer;
  }
  .burger:focus {
    outline: none;
  }

  .container {
    flex-direction: column-reverse;
  }
  .text {
    margin: 1rem;
  }
  .image {
    margin: 1rem;
    text-align: center;
  }

  .block {
    flex-direction: column;
  }
  .block img {
    max-width: 100%;
    height: auto;
  }
  .text {
    margin: 1rem;
  }

  .third {
    flex-direction: column-reverse;
  }
  .photo {
    max-width: 100%;
    height: auto;
  }
  .text {
    margin: 1rem;
  }
  .gallery-item {
    margin: 0.5rem;
  }
}

@media (min-width: 601px) and (max-width: 1024px) {
  .logo {
    font-size: 2rem;
    margin-left: 1rem;
  }
  nav {
    margin-right: 1rem;
  }

  .icons {
    display: flex;
  }
  .burger {
    display: none;
  }

  .container {
    flex-direction: row;
    align-items: center;
  }
  .text {
    margin: 2rem;
  }
  .image {
    margin: 2rem;
    text-align: center;
  }
  .block {
    flex-direction: row;
  }
  .block img {
    max-width: 100%;
    height: auto;
  }
  .text {
    margin: 2rem;
  }

  .third {
    flex-direction: row;
  }
  .photo {
    max-width: 50%;
    height: auto;
  }
  .text {
    margin: 2rem;
  }

  .gallery-item {
    margin: 1rem;
  }
}

@media (min-width: 1025px) {
  .logo {
    font-size: 2.5rem;
    margin-left: 2rem;
  }
  nav {
    margin-right: 2rem;
  }  .icons {
    display: flex;
  }
  .burger {
    display: none;
  }
  .container {
    flex-direction: row;
    align-items: center;
  }
  .text {
    margin: 3rem;
}
